@tailwind base;
@tailwind components;
@tailwind utilities;

.navlinks {
  @apply font-semibold transition-all ease-linear duration-[600ms] tablet:opacity-100 tablet:transition-none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.no-scroll {
  overflow: hidden;
}

::-webkit-scrollbar {
  display: none;
}

.transition-right {
  transition: right 0.4s ease;
}

#sidebar-active:checked~.links-container {
  right: 0;
}

#sidebar-active:checked~.openButton {
  display: none;
}

#sidebar-active:checked~.closeButton {
  display: block;
}

#sidebar-active:checked~#overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.menu-icon {
  -webkit-transition: -webkit-transform 300ms ease-in;
  transition: -webkit-transform 300ms ease-in;
  transition: transform 300ms ease-in;
  transition: transform 300ms ease-in, -webkit-transform 300ms ease-in;
}

.menu-icon>span {
  -webkit-transition: -webkit-transform 300ms ease-in;
  transition: -webkit-transform 300ms ease-in;
  transition: transform 300ms ease-in;
  transition: transform 300ms ease-in, -webkit-transform 300ms ease-in;
}

.menu-icon>span:before,
.menu-icon>span:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 1px;
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
}

.menu-icon>span:before {
  -webkit-transform: translateY(-0.5em);
  transform: translateY(-0.5em);
}

.menu-icon>span:after {
  -webkit-transform: translateY(0.5em);
  transform: translateY(0.5em);
}

#sidebar-active:checked~.menu-icon {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

#sidebar-active:checked~.menu-icon>span:before {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

#sidebar-active:checked~.menu-icon>span:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

@layer utilities {
  @media (min-width: 707px) {
    .links-container a:not(.socials) {
      @apply relative tracking-[1px];
    }

    .links-container a:not(.socials)::after {
      @apply content-[''] absolute bg-primary h-[3px] w-[0%] left-0 -bottom-1 rounded-full duration-200;
    }

    .links-container a:not(.socials, .activeLink)::after:hover {
      @apply w-[100%];
    }

    .links-container .activeLink a::after {
      @apply content-[''] absolute bg-primary h-[3px] w-[0%] left-0 -bottom-1 rounded-full duration-200;
    }
  }
}

.colorized {
  border: calc(0.08 * var(--m)) solid transparent;
  position: relative;
  color: #F3F3F3;
  border-radius: calc(0.3 * var(--m));
  padding: calc(0.2 * var(--m)) calc(0.5 * var(--m));
  display: flex;
  justify-content: center;
  cursor: pointer;
  background:linear-gradient(#121213, #121213), linear-gradient(#121213 80%, rgba(18, 18, 19, 0.6) 80%, rgba(18, 18, 19, 0)),  linear-gradient(90deg, var(--orange), var(--yellow), var(--green), var(--blue), var(--purple), var(--pink), var(--red));
  background-origin: border-box;
  background-clip: padding-box, border-box, border-box;
  background-size: 200%;
  animation: animate 2s infinite linear;
}

.colorized::before {
  content: '';
  background: linear-gradient(90deg, var(--orange), var(--yellow), var(--green), var(--blue), var(--purple), var(--pink), var(--red));
  height: 30%;
  width: 60%;
  position: absolute;
  bottom: 5%;
  z-index: -5;
  background-size: 200%;
  animation: animate 2s infinite linear;
  filter: blur(calc(0.8 * var(--m)));
}

.colorized:hover, .colorized:hover::before {
  animation: animate 0.5s infinite linear;
}

@keyframes animate {
  0% {background-position: 0}
  100% {background-position: 200%}
}

@media screen and (max-width: 1000px) {
  :root {
    --m: 2rem;
  }
} 


:root {
  --m: 4rem;
  --red: #FF6565;
  --pink: #FF64F9;
  --purple: #6B5FFF;
  --blue: #4D8AFF;
  --green: #5BFF89;
  --yellow: #FFEE55;
  --orange: #FF6D1B;
  
}

@keyframes changeColor {

  0%,
  100% {
    filter: drop-shadow(0 5px 5px #ffffff);
  }
  50% {
    filter: drop-shadow(0 5px 5px #04ec97);
  }
}

.animate-change-color {
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-name: changeColor;
  animation: changeColor 4s infinite;
  -webkit-transition: changeColor 4s infinite;
  -moz-transition: changeColor 4s infinite;
  -o-transition: changeColor 4s infinite;
  transition: changeColor 4s infinite;
  /* 4 seconds for a full cycle */
}