@tailwind base;
@tailwind components;
@tailwind utilities;

#sidebar-active:checked ~ .links-container {
  right: 0;
}
.transition-right {
  transition: right 0.4s ease; 
}
#sidebar-active:checked ~ .openButton {
  display: none;
}
#sidebar-active:checked ~ .closeButton {
  display: block;
}
#sidebar-active:checked ~ #overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
}
